body {
    margin : 0;
    padding: 0vh;
}

.mainTitle {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 56px;
    display: flex;
    justify-content: center;
}

.secondaryTitle {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    display: flex;
    justify-content: left;
    padding: 60px 40px 0px 40px;
}

.eventName {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}

.currentGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px 40px 0px 40px;
}

.futureGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px 40px 0px 40px;
}

.pastGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px 40px;
}

.bloc {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    height: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1), 0 8px 20px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cardImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease;
}

.blocFooter {
    position: absolute;
    gap: 20px;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 10px 0px;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.bloc:hover img {
    transform: scale(1.05);
}

.bloc:hover .blocFooter {
    transform: translateY(0);
}

.blocFooterLinks {
    display: flex;
    justify-content: space-around;
}

.location {
    display: flex;
    color: black;
    text-decoration: none;
    font-style: italic;
}

.location:hover {
    text-decoration: underline;
    font-weight: 600;
}

.mapPin {
    padding: 0px 5px 0px 5px;
}

.agenda {
    display: flex;
    color: black;
    text-decoration: none;
    font-style: italic;
}

.agenda:hover {
    text-decoration: underline;
    font-weight: 600;
}

.calendar {
    padding: 0px 5px 0px 5px;
}

.gotop {
    display: flex;
    padding: 5vh;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

@media (max-width: 992px) {
  body {
    margin : 0;
    padding: 0;
  }

  .mainTitle {
    font-size: 46px;
  }

  .bloc {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    height: 200px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1), 0 8px 20px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;}

  .blocFooter {
    font-size: 14px;
  }
}