* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

h1,
h2 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

p {
    font-family: "Roboto", sans-serif;
}

.shopSlider {
    width: 74.3%;
    margin: auto;
    padding: 1rem;
    overflow: hidden;
    border-radius: 0.3rem;
}

.shopSliderTrack {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-snap-align: start;

}

.shopSlide {
    flex: 0 0 27vh;
    scroll-snap-align: start;
    padding: 0.25rem;
    border-radius: 0.3rem;
    border: 0.09375rem solid black;
    margin: 0.2rem;
    max-width: 16.9rem;
    background-color: #f2cf2a;
    box-shadow: 0.2rem 0.2rem 0.2rem black;
}

img {
    background-color: #ffffff;
}

.shopNameProduct {
    text-align: center;
    font-weight: bold;
    margin-top: 0.40rem;
    margin-bottom: 0.3rem;

}

.shopPriceProduct {
    text-align: center;
    font-size: 1.5rem;
    margin-left: -5rem;
}

.shopAddToCart {
    border: 0.1rem solid black;
    border-radius: 75rem;
    background-color: #1d68b4;
    color: #ffffff;
    text-align: center;
    margin-left: 6rem;
    width: 6rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.shopAddToCart:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.shopSlide img {
    width: 100%;
    height: 75%;
    display: block;
    user-select: none;
    border: 0.09375rem solid black;
    border-radius: 0.3rem;
}

@media screen and (max-width: 880px) {}