* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cartColor: #d9d9d9;
    --buttonColor: #ffffff;
    --bg-color: #ffffff;
    --text-color: #000000;
    --title-color: #000000;
    --shadow-color: rgba(0,0,0,0.1);
}
/* =============================== DARK THEME ============================== */

body.dark-theme {
    --bg-color: #121212;
    --text-color: #ffffff;
    --title-color: #ffffff;
    --shadow-color: rgba(255,255,255,0.1);
    --cartColor: #393D3F;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    margin : 0;
    padding: 0vh;
}

#toggle-theme {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
}

/* =============================== BURGER ============================== */

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 6px;
}

.burger span {
    width: 25px;
    height: 3px;
    background-color: black;
    border-radius: 2px;
    transition: 0.3s ease;
}

/* =============================== NAVBAR ============================== */

.navbar {
    background-color: #f2cf2a;
    padding: 0.9375rem 0;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 0.625rem;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
}

.nav-menu li a {
    text-decoration: none;
    color: #000;
    padding: 0.5rem 1.25rem;
    border-radius: 1.5625rem;
    background-color: #f2cf2a;
    font-weight: 500;
    transition: background-color 0.3s ease;
    font-family: "Roboto", sans-serif;
}

.nav-menu li a:hover {
    background-color: #ffffff;
}

.nav-menu li .a2 {
    text-decoration: none;
    color: #000;
    padding: 0.5rem 1.25rem;
    border-radius: 1.5625rem;
    background-color: #f2cf2a;
    font-weight: 500;
    transition: background-color 0.3s ease;
    font-family: "Roboto", sans-serif;
}

.nav-menu li .a2:hover {
    background-color: #f2cf2a;
}

.main-content {
    flex: 1;
    background-color: #fff;
    border-left: 0.125rem solid #000;
    border-right: 0.125rem solid #000;
}

.nav-container {
    padding: 0 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartTop {
    width: 2.5rem;
    height: auto;
    background-color: var(--buttonColor);
    border: 0.2rem solid #ffffff;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.cartTop:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 20px rgba(0, 0, 0, 0.1);
    border: 0.2rem solid #3b983f;
}

.logo {
    padding: 0;
    border-radius: 0;
}

.logo img {
    height: 2.5rem;
    width: auto;
    display: block;
    border-radius: 0.05rem;
    background: none;

}

/* =============================== TITLE ============================== */

h1 {
    text-transform: uppercase;
    letter-spacing: .5em;
    border-width: 4px 0;
    padding: 12vh 0vh;
}

h1 span {
    font: 900 4em/1 "Montserrat", sans-serif;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255,255,255,.5);
    background: url(gallery/shop/shopCartBanner.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: aitf 10s infinite alternate;
    -webkit-animation: aitf 10s infinite alternate;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.mainTitle {
    display: flex;
    justify-content: center;
}

@keyframes aitf {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

@-webkit-keyframes aitf {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

h1 {
    width: auto;
    padding: 1em 0;
    text-align: center;
}

h1 span {
    font: 900 3em/1 "Montserrat", sans-serif;
}


/* =============================== CART ============================== */
.cartCounter {
    position: absolute;
    top: 0.3125rem;
    right: 0.3125rem;
    background: #3b983f;
    color: #ffffff;
    border-radius: 50%;
    font-size: 0.75rem;
    width: 1.125rem;
    height: 1.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*===============================TOP==============================*/

.shopTopImg {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1rem;
}

.shopPtop {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
    max-width: 80vh;
    background-color: var(--cartColor);
    margin: auto;
    margin-top: 5rem;
    padding: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}


.shopImgL,
.shopImgR {
    width: 30rem;
    border-radius: 5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 20px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 6rem;
    margin-bottom: 3rem;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

p {
    font-family: "Roboto", sans-serif;
}

.shopSlider {
    width: 67%;
    margin: auto;
    padding: 1rem;
    border-radius: 0.3rem;
    position: relative;
    overflow: visible;
    border-radius: 0.3rem;
    object-fit: contain;
}

.shopArrow:hover {
    background-color: #1d68b4;
}

.shopArrow.left {
    left: -2.5rem;
}

.shopArrow.right {
    right: -2.5rem;
}

.shopArrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #d9d9d9;
    color: #000000;
    border: none;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.2s ease;
    z-index: 10;
}

.shopSliderTrack {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-snap-align: start;
    cursor: grab;
    user-select: none;
}

.shopSliderTrack.dragging {
    cursor: grabbing;
}

.shopSliderTrack::-webkit-scrollbar {
    height: 0.5rem;
}

.shopSliderTrack::-webkit-scrollbar-track {
    background: #d9d9d9;
    border-radius: 1rem;
}

.shopSliderTrack::-webkit-scrollbar-thumb {
    background: #d9d9d9;
    border-radius: 1rem;
    border: 0.1rem solid #000000;
}

.shopSliderTrack::-webkit-scrollbar-thumb:hover {
    background: #f2cf2a;
    cursor: pointer;
}

.shopSlide {
    flex: 0 0 27vh;
    scroll-snap-align: start;
    padding: 0.25rem;
    border-radius: 0.3rem;
    margin: 1rem;
    max-width: 16.9rem;
    background-color: var(--cartColor);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 20px rgba(0, 0, 0, 0.1);
}

img {
    background-color: #ffffff;
}

.shopNameProduct {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 0.40rem;
    margin-bottom: 0.3rem;

}

.shopPriceProduct {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    margin-left: -18vh;
}

.shopAddToCart {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 21vh;
    margin-right: 1vh;
    border-radius: 0.2rem;
    background-color: #f2cf2a;
    color: var(--buttonColor);
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    margin-top: -1rem;
    width: 4vh;
    height: 4vh;

    .cart {
        width: 4vh;
        height: auto;
        background-color: var(--buttonColor);
        border-radius: 0.125rem;
        border: 0.2rem solid #f2cf2a;
    }
}

.shopAddToCart:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 20px rgba(0, 0, 0, 0.1);

    .cart {
        width: 4vh;
        height: auto;
        background-color: var(--buttonColor);
        border-radius: 0.125rem;
        border: 0.2rem solid #3b983f;
    }
}

.shopAddToCart:active {
    transform: scale(0.95);
}

/*===============================BOTTOM==============================*/

.shopSlide img {
    width: 100%;
    height: 30vh;
    display: block;
    user-select: none;
    border-radius: 0.3rem;
    object-fit: contain;
}

.shopAllProd {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2rem;
    justify-items: center;
    width: 65%;
    margin: auto;

}

.shopSlide1 {
    width: 95%;
    height: 40vh;
    flex: 0 0 auto;
    padding: 0.25rem;
    border-radius: 0.3rem;
    margin: 0.2rem;
    background-color: var(--cartColor);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .shopAddToCart {
        margin-left: 25vh;
    }
}

.shopSlide1 img {
    width: 100%;
    height: 28vh;
    display: block;
    object-fit: contain;
    border-radius: 0.3rem;
    user-select: none;
}

.shopAll {
    margin-bottom: 10vh;
}

.shopReturnTop {
    text-align: end;
    margin-right: 5rem;
    margin-bottom: 2rem;
    cursor: pointer;

    a {
        text-decoration: none;
        color: inherit;
    }
}

/*===============================FOOTER==============================*/

.footer {
    background-color: #f2cf2a;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f2cf2a;
    width: auto;
    padding-bottom: 1rem;
}


.footer-container {
    padding: 2em 1.25rem;

}

.social-media {
    list-style: none;
    display: flex;
    justify-content: left;
    gap: 2em;
    border: 0.125rem solid #000;
    border-radius: 1.5625rem;
    background-color: #fff;
    display: inline-block;
    font-weight: bold;
    margin: 0;
}

.social-media li {
    display: inline-block;
}

.social-media li img {
    width: 2em;
    height: 2em;
    transition: transform 0.2s ease;
    border-radius: 1.5rem;
}

.social-media li img:hover {
    transform: scale(1.05);
}

#ml {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

/*===============================RESPONSIVE==============================*/

@media screen and (max-width: 1000px) {
    .nav-menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        justify-items: center;
    }

    h2 {
        margin-top: 2rem;
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
    }

    .shopTopImg {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin: 1rem;
        gap: 2rem;
    }

    .shopPtop {
        margin-bottom: 3rem;
    }

    .shopImgL,
    .shopImgR {
        width: 20rem;
    }

    .shopSlider {
        width: 90%;
    }

    .shopSliderTrack::-webkit-scrollbar {
        height: 0.1rem;
    }

    .shopArrow {
        display: none;
    }

    .shopAddToCart {
        font-size: 1rem;
    }

    .shopSlide1 .shopAddToCart {
        margin-left: 13rem;
    }

    .shopNameProduct {
        font-size: 1rem;
    }

    .shopPriceProduct {
        font-size: 1rem;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    .shopAllProd {
        grid-template-columns: repeat(1, 1fr);
    }

    .shopSlide {
        margin: 0.2rem;
    }

    .burger {
    display: flex;
}

.nav-menu {
    display: none;
    flex-direction: column;
    background-color: #f2cf2a;
    position: absolute;
    top: 70px;
    right: 20px;
    width: 200px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 15px 0;
    z-index: 999;
}

.nav-menu.active {
    display: flex;
}

.nav-menu li {
    text-align: center;
    margin: 10px 0;
}


}

@media screen and (max-width: 350px) {

    .shopImgL,
    .shopImgR {
        width: 35vh;
    }

    .shopSlide1 .shopAddToCart {
        margin-left: 20vh;
    }

    .shopSlider {
        width: 100%;
    }

    .shopSlide {
        margin: 0.2rem;
    }

    .shopArrow {
        display: none;
    }

    .shopAddToCart {
        margin-top: -1vh;
        font-size: 1rem;
    }

    .shopNameProduct {
        font-size: 1rem;
    }

    .shopPriceProduct {
        font-size: 1rem;
        margin-bottom: 1vh;
        margin-top: 1vh;
    }

}